<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 mt-4">
      <div class="container-fluid">
        <div class="row pb-3">
          <img src="../../assets/images/banner2.jpg" alt="">
        </div>
      </div>
      <div class="container-fluid">
        <div class="row pb-3">
          <img src="../../assets/images/banner.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="col-lg-10 mt-4">
      <div class="container-fluid">
        <div class="row">
          <video controls>
            <source width="100%" height="400px" src="../../assets/videos/video.mp4">
          </video>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row mt-3">
          <h2 align="center"
              style="font-size: 24px;color: #cbbe73;line-height: 36px;text-align: left;font-family:Playfair Display;font-weight:700;font-style:normal"
              class="vc_custom_heading"> TỰ HÀO LÀ HỆ THỐNG QUẢN LÝ SỐ 1 ĐÀ NẴNG</h2>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <p style="font-family: Playfair Display; font-size: 18px">Công ty … là một công ty chuyên cung cấp ….

            Trong bối cảnh xã hội hiện nay….. thì một trong số những dịch vụ đang được ưa chuộng, là một trong số những
            dịch vụ cần thiết nhất hiện nay đó chính là dịch vụ …….

            Nếu như bạn đang có nhu cầu sử dụng dịch vụ…. mà vẫn chưa tìm được công ty nào thích hợp thì bạn hoàn toàn
            có thể tìm đến với doanh nghiệp chúng tôi…..</p>
          <p style="font-family: Playfair Display; font-size: 18px">
            Với lý tưởng sẽ trở thành một trong số những công ty nổi tiếng, những công ty hàng đầu về….. mang lại cho
            khách hàng những dịch vụ tốt nhất trên thị trường hiện nay. Chúng tôi luôn cố gắng, cải thiện với phương
            châm “ khách hàng là thượng đế phải quan tâm đến trải nghiệm của khách hàng”. Vậy nên, chúng tôi đang ngày
            càng nỗ lực, ngày càng hoàn thiện bản thân để có thể phù hợp với khách hàng.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
